.nrepl-port
/.calva/
/.portal/
/.cpcache
/data/*
/dev/data/benchmark/*
/target/*
.clj-kondo/babashka
.clj-kondo/metosin
.DS_Store
/.eastwood
/.clj-kondo/*
!/.clj-kondo/config.edn
!/.clj-kondo/ci-config.edn
/.lsp/
/dev/data/*
/data*/**
/checkouts/
/.idea/
