{:paths ["bb"]
 :pods  {clj-kondo/clj-kondo {:version "2023.12.15"}}
 :deps  {io.github.weavejester/cljfmt {:git/sha "8d8e26d8e47721fa006830db5e3b16f78e60b0a1"}}
 :tasks {git-hooks {:requires ([git-hooks :as gh])
                    :task     (apply gh/hook *command-line-args*)}
         lint      {:requires ([lint])
                    :task     (lint/check-all ".")}
         fix       {:requires ([lint])
                    :task     (lint/fix-all ".")}}}
