{:deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         org.clojure/core.async         {:mvn/version "1.6.681"}
         com.fluree/db                  {:git/url "https://github.com/fluree/db.git"
                                         :git/sha "4b6a864587c4b75b7c7f0fd5de854ca65bea6570"}
         com.fluree/json-ld             {:git/url "https://github.com/fluree/json-ld.git"
                                         :git/sha "c2bef3785631dd178b9261e2f4d2ee012fed984c"}

         club.donutpower/system         {:mvn/version "0.0.165"}

         ;; network, consensus
         com.github.fluree/raft         {:git/tag "v1.0.0-beta2"
                                         :git/sha "0fa1f90"}
         net.async/async                {:mvn/version "0.1.1"}

         ;; serialization, compression
         com.taoensso/nippy             {:mvn/version "3.3.0"}
         org.xerial.snappy/snappy-java  {:mvn/version "1.1.10.5"}

         ;; config
         aero/aero                      {:mvn/version "1.1.6"}

         ;; logging
         ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
         org.slf4j/slf4j-api            {:mvn/version "2.0.9"}

         ;; http
         ;; ring-jetty9-adapter 0.30.x uses Jetty 12 & requires JDK 17+
         ;; so we have to stay on 0.22.x b/c our minimum JDK version is 11
         info.sunng/ring-jetty9-adapter ^{:antq/exclude "0.30.x"} {:mvn/version  "0.22.4"}
         metosin/reitit                 {:mvn/version "0.6.0"}
         metosin/muuntaja               {:mvn/version "0.6.8"}
         metosin/malli                  {:git/url "https://github.com/metosin/malli.git"
                                         :git/sha "4c788a674883cee3d737d6a91a2b235d6924b88a"}
         ring-cors/ring-cors            {:mvn/version "0.1.13"}

         ;; retries
         robert/bruce                   {:mvn/version "0.8.0"}}
 :paths ["src" "resources"]

 :aliases
 {:build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.9.2" :git/sha "9c9f078"}}
   :ns-default build}

  :dev
  {:extra-paths ["dev/src"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                 clj-http/clj-http           {:mvn/version "3.12.3"}
                 criterium/criterium         {:mvn/version "0.4.6"}}}

  :run-dev
  {:exec-fn   fluree.server.main/run-server
   :exec-args {:profile :dev}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                 clj-http/clj-http   {:mvn/version "3.12.3"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/skip-meta [:pending]}}

  :pending-tests
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                 clj-http/clj-http   {:mvn/version "3.12.3"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/focus-meta [:pending]}}}}
