{:deps {org.clojure/clojure    {:mvn/version "1.11.3"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        ;; com.fluree/db          {:git/url "https://github.com/fluree/db.git"
        ;;                         :git/sha "923ab4dffd3b70ab4c1a2a025769feb39af532a8"}
        com.fluree/db {:local/root "../db"}
        com.fluree/json-ld     {:git/url "https://github.com/fluree/json-ld.git"
                                :git/sha "73a990a4b803d0b4cfbbbe4dc16275b39a3add4e"}

        integrant/integrant {:mvn/version "0.10.0"}

        ;; network, consensus
        com.github.fluree/raft {:git/tag "v1.0.0-beta2"
                                :git/sha "0fa1f90"}
        net.async/async        {:mvn/version "0.1.1"}

        ;; serialization, compression
        com.taoensso/nippy            {:mvn/version "3.4.0"}
        org.xerial.snappy/snappy-java {:mvn/version "1.1.10.5"}

        ;; config
        org.clojure/tools.cli               {:mvn/version "1.1.230"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}

        ;; logging
        ch.qos.logback/logback-classic {:mvn/version "1.5.6"}
        org.slf4j/slf4j-api            {:mvn/version "2.0.13"}

        ;; http
        ;; ring-jetty9-adapter 0.30.x+ uses Jetty 12 & requires JDK 17+
        ;; so we have to stay on 0.22.x b/c our minimum JDK version is 11
        info.sunng/ring-jetty9-adapter ^{:antq/exclude "0.3*"} {:mvn/version "0.22.6"}
        metosin/reitit                 {:mvn/version "0.7.0"}
        metosin/muuntaja               {:mvn/version "0.6.10"}
        metosin/malli                  {:mvn/version "0.16.1"}
        ring-cors/ring-cors            {:mvn/version "0.1.13"}

        ;; retries
        robert/bruce {:mvn/version "0.8.0"}}
 :paths ["src" "resources"]

 :aliases
 {:build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.9.2" :git/sha "9c9f078"}}
   :ns-default build}

  :dev
  {:extra-paths ["dev/src"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                 clj-http/clj-http           {:mvn/version "3.13.0"}
                 criterium/criterium         {:mvn/version "0.4.6"}
                 integrant/repl              {:mvn/version "0.3.3"}}}

  :run-dev
  {:exec-fn   fluree.server/start
   :exec-args {:profile :dev}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                 clj-http/clj-http   {:mvn/version "3.13.0"}
                 io.github.cap10morgan/test-with-files {:git/tag "v1.0.1"
                                                        :git/sha "a48d6d0"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/skip-meta [:pending]}}

  :benchmark
  {:extra-paths ["dev/src" "test"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                 clj-http/clj-http           {:mvn/version "3.13.0"}
                 criterium/criterium         {:mvn/version "0.4.6"}
                 integrant/repl              {:mvn/version "0.3.3"}}
   :jvm-opts    ["-Xmx8g"]
   :exec-fn     benchmark/run-benchmark-suite}

  :pending-tests
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                 clj-http/clj-http   {:mvn/version "3.13.0"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/focus-meta [:pending]}}}}
