{:http/server       {:port           #long #or [#env FLUREE_HTTP_API_PORT
                                                #profile {:dev    58090
                                                          :prod   8090
                                                          :docker 8090}]
                     :max-tx-wait-ms #or [#env FLUREE_HTTP_MAX_TX_WAIT_MS
                                          #profile {:dev    45000
                                                    :prod   45000
                                                    :docker 45000}]}
 :fluree/connection {:remote-servers #or [#env FLUREE_REMOTE_SERVERS
                                          #profile {:dev    "http://127.0.0.1:58090"
                                                    :prod   nil
                                                    :docker nil}]
                     :method         #or [#env FLUREE_STORAGE_METHOD
                                          #profile {:dev    :file
                                                    :prod   :file
                                                    :docker :file}]
                     :parallelism    #or [#env FLUREE_CONN_PARALLELISM
                                          #profile {:dev    1
                                                    :prod   4
                                                    :docker 4}]
                     :storage-path   #or [#env FLUREE_STORAGE_PATH
                                          #profile {:dev    "data"
                                                    :prod   "data"
                                                    :docker "data"}]
                     :cache-max-mb   #or [#env FLUREE_CACHE_MAX_MB ;; integer, in MB
                                          #profile {:dev    100
                                                    :prod   1000
                                                    :docker 1000}]
                     :defaults       {:context-type :string
                                      :indexer      {:reindex-min-bytes 1000
                                                     :reindex-max-bytes 10000000}
                                      :context
                                      #or [#env FLUREE_DEFAULT_CONTEXT
                                           #include-json-or-edn #env FLUREE_DEFAULT_CONTEXT_FILE
                                           #profile {:dev
                                                     ["https://ns.flur.ee"
                                                      {:id   "@id"
                                                       :type "@type"
                                                       :ex   "http://example.com/"
                                                       :f    "https://ns.flur.ee/ledger#"}]}]}}
 :fluree/consensus  {:consensus-servers     #or [#env FLUREE_CONSENSUS_SERVERS
                                                 #profile {:dev    "/ip4/127.0.0.1/tcp/62071"
                                                           :prod   nil
                                                           :docker "/ip4/127.0.0.1/tcp/62071"}]
                     :consensus-this-server #or [#env FLUREE_CONSENSUS_THIS_SERVER
                                                 #profile {:dev    "/ip4/127.0.0.1/tcp/62071"
                                                           :prod   nil
                                                           :docker "/ip4/127.0.0.1/tcp/62071"}]
                     :consensus-type        #or [#env FLUREE_CONSENSUS_TYPE
                                                 #profile {:dev    :raft
                                                           :prod   :raft
                                                           :docker :raft}]
                     ;; TODO - trace down both uses of private-key vs private-keys reconcile
                     :private-key           nil
                     :private-keys          nil
                     :log-directory         nil #_"./data/log/"
                     :ledger-directory      nil #_"./data/ledger/"
                     :encryption-key        nil
                     :storage-type          :file
                     :open-api              true}}
