{:fluree/connection {:method         #or [#env FLUREE_STORAGE_METHOD
                                          #profile {:dev    :file
                                                    :prod   :file
                                                    :docker :file}]
                     :parallelism    #or [#env FLUREE_CONN_PARALLELISM
                                          #profile {:dev    1
                                                    :prod   4
                                                    :docker 4}]
                     :storage-path   #or [#env FLUREE_STORAGE_PATH
                                          #profile {:dev    "data"
                                                    :prod   "data"
                                                    :docker "data"}]
                     :cache-max-mb   #or [#env FLUREE_CACHE_MAX_MB ;; integer, in MB
                                          #profile {:dev    100
                                                    :prod   1000
                                                    :docker 1000}]
                     :defaults       {:indexer {:reindex-min-bytes 1000
                                                :reindex-max-bytes 10000000}}}

 :fluree/watcher {:max-tx-wait-ms #or [#env FLUREE_MAX_TX_WAIT_MS
                                       #profile {:dev    45000
                                                 :prod   45000
                                                 :docker 45000}]}

 :fluree/subscriptions {}

 :fluree/standalone {:conn            #ig/ref :fluree/connection
                     :watcher         #ig/ref :fluree/watcher
                     :subscriptions   #ig/ref :fluree/subscriptions
                     :max-pending-txs #or [#env FLUREE_STANDALONE_MAX_PENDING_TXS
                                           16]}

 :fluree/handler {:conn          #ig/ref :fluree/connection
                  :consensus     #ig/ref :fluree/consensus
                  :watcher       #ig/ref :fluree/watcher
                  :subscriptions #ig/ref :fluree/subscriptions}

 :http/jetty {:port    #long #or [#env FLUREE_HTTP_API_PORT
                                  #profile {:dev    58090
                                            :prod   8090
                                            :docker 8090}]
              :join?   false
              :handler #ig/ref :fluree/handler}}
