{:fluree/raft {:log-history      #or [#env FLUREE_RAFT_LOG_HISTORY
                                      10]
               :entries-max      #or [#env FLUREE_RAFT_ENTRIES_MAX
                                      50]
               :catch-up-rounds  #or [#env FLUREE_RAFT_CATCH_UP_ROUNDS
                                      10]
               :storage-type     #or [#keyword #env FLUREE_RAFT_STORAGE_TYPE
                                      :file]
               :servers          #or [#env FLUREE_RAFT_SERVERS
                                      #profile {:dev    "/ip4/127.0.0.1/tcp/62071"
                                                :prod   nil
                                                :docker "/ip4/127.0.0.1/tcp/62071"}]
               :this-server      #or [#env FLUREE_RAFT_THIS_SERVER
                                      #profile {:dev    "/ip4/127.0.0.1/tcp/62071"
                                                :prod   nil
                                                :docker "/ip4/127.0.0.1/tcp/62071"}]
               :log-directory    #env FLUREE_RAFT_LOG_DIRECTORY
               :ledger-directory #env FLUREE_RAFT_LEDGER_DIRECTORY
               :conn             #ig/ref :fluree/connection
               :watcher          #ig/ref :fluree/watcher
               :subscriptions    #ig/ref :fluree/subscriptions}}
